body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-control:focus{
  border-color: #cccccc ;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*Invalid Classes for AngularJs*/

.ng-pristine{
  border: 1px solid green;
}

.ng-dirty{
  border: 1px solid yellow;
}

.ng-invalid.ng-dirty{
  border: 1px solid red;
}

.ng-valid.ng-dirty{
  border: 1px solid green;
}

input.ng-invalid-minlength.ng-dirty{
  border: 3px solid blue;
}

