<div class="settings-box">
	<h1>Update your Settings</h1>
	<form role="form">
		<h3>Update Settings</h3>

		<div class="row">
			<div class="col-sm-8">
				<label>Name</label>
				<input class="form-control" type="text" ng-model="settings.name" placeholder="Name" name="name" ng-minlength=3 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/" required>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<label>Email</label>
				<input class="form-control" type="text" ng-model="settings.email" placeholder="Email" name="email">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<label>Age</label>
				<input class="form-control" type="text" ng-model="settings.age" placeholder="Age" name="age">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 pull-right">
				<button class="btn btn-primary" type="submit">Update</button>
			</div>
		</div>

	</form>
</div>


{{settings}}